body {
  background-color: #0f172a;
  color: #e5e7eb;
  font-family: Arial, sans-serif;
  text-align: center;
  padding-top: 60px;
}

h1 {
  color: #38bdf8;
  font-size: 32px;
}

p {
  font-size: 18px;
}button {
  margin-top: 20px;
  padding: 12px 20px;
  font-size: 16px;
  background: #38bdf8;
  color: #0f172a;
  border: none;
  border-radius: 6px;
}
.card {
  max-width: 420px;
  margin: auto;
  background: #020617;
  padding: 30px;
  border-radius: 12px;
}

ul {
  text-align: left;
  padding-left: 20px;
}

li {
  margin-bottom: 8px;
}